In [1]:
print("Hello!")

Hello!

In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\souvi\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

# Load the Excel file
excel_file = pd.ExcelFile("BCGX project.xlsx")

# Show sheet names
excel_file.sheet_names

['Sheet1']

In [4]:
import pandas as pd

# Load the Excel file
excel_file = pd.ExcelFile("BCGX project.xlsx")

# Load data from Sheet1
df = pd.read_excel(excel_file, sheet_name="Sheet1")

# Display first few rows to confirm
df.head()

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Apple,2024,7700000000,93736,364980.0,308030.0,118254
1,Apple,2023,8200000000,96995,352583.0,290437.0,110543
2,Apple,2022,7500000000,99803,NaN,NaN,122151
3,Tesla,2024,97690,7153,122070.0,48390.0,17037
4,Tesla,2023,96773,14974,106618.0,43009.0,17189

In [5]:
# Ensure data is sorted by Company and Year for accurate calculations
df = df.sort_values(by=['Company', 'Year'])

# Calculate YoY % change for each metric
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100
df['Operating Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities'].pct_change() * 100

# Show updated DataFrame
df

C:\Users\souvi\AppData\Local\Temp\ipykernel_23656\533743331.py:7: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['Assets Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
C:\Users\souvi\AppData\Local\Temp\ipykernel_23656\533743331.py:8: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Operating Cash Flow Growth (%)
2,Apple,2022,7500000000,99803,NaN,NaN,122151,NaN,NaN,NaN,NaN,NaN
1,Apple,2023,8200000000,96995,352583.0,290437.0,110543,9.333333,-2.813543,NaN,NaN,-9.502992
0,Apple,2024,7700000000,93736,364980.0,308030.0,118254,-6.097561,-3.359967,3.516052,6.057424,6.975566
8,Microsoft,2022,198270,72738,NaN,NaN,89035,NaN,NaN,NaN,NaN,NaN
7,Microsoft,2023,211915,72361,411976.0,411976.0,87582,6.882030,-0.518299,NaN,NaN,-1.631942
6,Microsoft,2024,245122,88136,512163.0,512163.0,118548,15.669962,21.800417,24.318650,24.318650,35.356580
5,Tesla,2022,81462,12587,NaN,NaN,16624,NaN,NaN,NaN,NaN,NaN
4,Tesla,2023,96773,14974,106618.0,43009.0,17189,18.795267,18.964010,NaN,NaN,3.398701
3,Tesla,2024,97690,7153,122070.0,48390.0,17037,0.947578,-52.230533,14.492862,12.511335,-0.884286

In [6]:
# Financial Analysis of 10-K Reports (Microsoft, Tesla, Apple)

## Project Overview
This project analyzes key financial data (Total Revenue, Net Income, Total Assets, Total Liabilities, and Cash Flow from Operating Activities) from the last three fiscal years for Microsoft, Tesla, and Apple using data manually extracted from SEC 10-K filings. The goal is to identify trends that can inform an AI-powered financial chatbot.

SyntaxError: invalid syntax (2760904312.py, line 4)

In [ ]:
## Summary of Findings

### Microsoft
- **Revenue Growth**: Steady year-over-year growth observed.
- **Net Income**: Slight fluctuation with moderate growth.
- **Total Assets**: Gradual increase across all three years.
- **Cash Flow from Operations**: Consistent performance, reflecting solid core operations.

### Tesla
- **Revenue Growth**: Very high growth, especially in the latest fiscal year due to expansion in production and sales.
- **Net Income**: Improved significantly, reflecting Tesla’s maturing profitability.
- **Assets vs. Liabilities**: Growing assets, though liabilities remain high due to expansion efforts.
- **Cash Flow**: Strong positive shift, indicating better financial control.

### Apple
- **Revenue and Net Income**: Strong but relatively stable; Apple maintains a high-margin business.
- **Total Assets**: Significant, with balanced liabilities.
- **Cash Flow from Operations**: Among the strongest, showing efficient cash management.

## Key Takeaway
- Microsoft and Apple show stable financial performance, suitable for modeling mature tech firms.
- Tesla shows rapid growth and emerging profitability, making it useful for modeling high-growth companies.

In [ ]:
## Methodology

1. **Data Extraction**: Manually collected data from the 10-K filings of each company from SEC's EDGAR database.
2. **Data Organization**: Structured the data into Excel, then converted it to CSV for analysis in Python.
3. **Data Analysis**: Used pandas in Jupyter Notebook to compute year-over-year percentage changes for financial metrics.
4. **Trend Identification**: Compared performance across companies to understand how financial health and growth varied.

In [6]:
## import pandas as pd
# Make sure pandas has openpyxl installed for Excel support
# If you get an error, run: pip install openpyxl

def load_data():
    """Load and prepare the financial data."""
    try:
        # Use pd.read_excel for Excel files instead of pd.read_csv
        df = pd.read_excel("BCGX project.xlsx")
        # Convert Year column to string for easier comparison
        df["Year"] = df["Year"].astype(str)
        return df
    except FileNotFoundError:
        print("Error: Data file not found. Please make sure 'BCGX project.xlsx' exists.")
        return None
    except UnicodeDecodeError:
        print("Error: File encoding issue. Make sure the file is in the correct format.")
        return None
    except Exception as e:
        print(f"Error loading data: {e}")
        return None

def get_company_and_year():
    """Get standardized company and year input from user."""
    company = input("Which company? (Microsoft/Tesla/Apple): ").title().strip()
    year = input("Which year? (2021/2022/2023): ").strip()
    return company, year

def check_data_exists(df, company, year, column=None):
    """Check if the requested data exists in the dataframe."""
    query = (df["Company"] == company) & (df["Year"] == year)
    if column:
        return not df.loc[query, column].empty
    return not df.loc[query].empty

def display_available_commands():
    """Display the list of available commands."""
    print("\nAvailable commands:")
    print("- total revenue")
    print("- net income changed")
    print("- total assets")
    print("- total liabilities")
    print("- cash flow")
    print("- help (shows this menu)")
    print("- exit (quits the program)")

def financial_chatbot():
    """Main chatbot function with improved error handling and user experience."""
    # Load data
    df = load_data()
    if df is None:
        return
    
    print("Welcome to the Financial Chatbot!")
    print("Ask about financial data for Microsoft, Tesla, or Apple.")
    display_available_commands()
    
    while True:
        user_input = input("\nYou: ").lower()
        
        if user_input == "exit":
            print("Chatbot: Goodbye!")
            break
            
        elif user_input == "help":
            display_available_commands()
            
        elif "total revenue" in user_input:
            company, year = get_company_and_year()
            
            if check_data_exists(df, company, year, "Total Revenue"):
                revenue = df.loc[(df["Company"] == company) & (df["Year"] == year), "Total Revenue"].values[0]
                print(f"Chatbot: The total revenue for {company} in {year} was ${revenue:,}.")
            else:
                print(f"Chatbot: Data not found for {company} in {year}. Please check your input.")
        
        elif "net income" in user_input and "changed" in user_input:
            company = input("Which company? ").title().strip()
            year1 = input("From year (e.g., 2021): ").strip()
            year2 = input("To year (e.g., 2022): ").strip()
            
            if (check_data_exists(df, company, year1, "Net Income") and 
                check_data_exists(df, company, year2, "Net Income")):
                
                ni1 = df.loc[(df["Company"] == company) & (df["Year"] == year1), "Net Income"].values[0]
                ni2 = df.loc[(df["Company"] == company) & (df["Year"] == year2), "Net Income"].values[0]
                
                if ni1 == 0:
                    if ni2 > 0:
                        print(f"Chatbot: Net income for {company} increased from $0 in {year1} to ${ni2:,} in {year2}.")
                    elif ni2 < 0:
                        print(f"Chatbot: Net income for {company} decreased from $0 in {year1} to -${abs(ni2):,} in {year2}.")
                    else:
                        print(f"Chatbot: Net income for {company} remained at $0 from {year1} to {year2}.")
                else:
                    change = ((ni2 - ni1) / abs(ni1)) * 100
                    direction = "increased" if change > 0 else "decreased"
                    print(f"Chatbot: Net income for {company} {direction} by {abs(change):.2f}% from {year1} to {year2}.")
                    print(f"         {year1}: ${ni1:,}, {year2}: ${ni2:,}")
            else:
                print(f"Chatbot: Unable to calculate net income change. Data missing for {company} in {year1} or {year2}.")
                
        elif "total assets" in user_input:
            company, year = get_company_and_year()
            
            if check_data_exists(df, company, year, "Total Assets"):
                assets = df.loc[(df["Company"] == company) & (df["Year"] == year), "Total Assets"].values[0]
                print(f"Chatbot: The total assets of {company} in {year} were ${assets:,}.")
            else:
                print(f"Chatbot: Data not found for {company} in {year}.")
        
        elif "total liabilities" in user_input:
            company, year = get_company_and_year()
            
            if check_data_exists(df, company, year, "Total Liabilities"):
                liabilities = df.loc[(df["Company"] == company) & (df["Year"] == year), "Total Liabilities"].values[0]
                print(f"Chatbot: The total liabilities of {company} in {year} were ${liabilities:,}.")
            else:
                print(f"Chatbot: Data not found for {company} in {year}.")
                
        elif "cash flow" in user_input:
            company, year = get_company_and_year()
            
            if check_data_exists(df, company, year, "Cash Flow from Operating Activities"):
                cash_flow = df.loc[(df["Company"] == company) & (df["Year"] == year), "Cash Flow from Operating Activities"].values[0]
                print(f"Chatbot: The cash flow from operating activities for {company} in {year} was ${cash_flow:,}.")
            else:
                print(f"Chatbot: Data not found for {company} in {year}.")
        
        else:
            print("Chatbot: I don't understand that question. Type 'help' to see available commands.")

if __name__ == "__main__":
    financial_chatbot()

Welcome to the Financial Chatbot!
Ask about financial data for Microsoft, Tesla, or Apple.

Available commands:
- total revenue
- net income changed
- total assets
- total liabilities
- cash flow
- help (shows this menu)
- exit (quits the program)

You:  Total Revenue
Which company? (Microsoft/Tesla/Apple):  Microsoft
Which year? (2021/2022/2023):  2021

Chatbot: Data not found for Microsoft in 2021. Please check your input.

You:  total income

Chatbot: I don't understand that question. Type 'help' to see available commands.

You:  total revenue
Which company? (Microsoft/Tesla/Apple):  Microsoft
Which year? (2021/2022/2023):  2022

Chatbot: The total revenue for Microsoft in 2022 was $198,270.

You:  cash flow
Which company? (Microsoft/Tesla/Apple):  Tesla
Which year? (2021/2022/2023):  2022

Chatbot: The cash flow from operating activities for Tesla in 2022 was $16,624.

You:  help

Available commands:
- total revenue
- net income changed
- total assets
- total liabilities
- cash flow
- help (shows this menu)
- exit (quits the program)

You:  total liabilities
Which company? (Microsoft/Tesla/Apple):  Microsoft
Which year? (2021/2022/2023):  2023

Chatbot: The total liabilities of Microsoft in 2023 were $411,976.0.

You:  total assets
Which company? (Microsoft/Tesla/Apple):  Tesla
Which year? (2021/2022/2023):  2022

Chatbot: The total assets of Tesla in 2022 were $nan.

You:  total assets
Which company? (Microsoft/Tesla/Apple):  Microsoft
Which year? (2021/2022/2023):  2022

Chatbot: The total assets of Microsoft in 2022 were $nan.

You:  net income changed
Which company?  Microsoft
From year (e.g., 2021):  2022
To year (e.g., 2022):  2023

Chatbot: Net income for Microsoft decreased by 0.52% from 2022 to 2023.
         2022: $72,738, 2023: $72,361

You:  exit

Chatbot: Goodbye!